<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAVwATFMiiSD0e2H-5U_-WMwhhT_4Ig2U</string>
	<key>GCM_SENDER_ID</key>
	<string>1019387797693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wang.drivesave</string>
	<key>PROJECT_ID</key>
	<string>drivesave-69420</string>
	<key>STORAGE_BUCKET</key>
	<string>drivesave-69420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019387797693:ios:92847e21b3cd9bec59d7d4</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires location access to function properly.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires location access to function properly.</string>
	
</dict>
</plist>